.container{
    border: 10px solid black;
    padding: 10px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: x-small;
}

.flex-box{
    display: block;
    border: 5px solid black;
    padding: 10px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap:wrap;
}
button{
    background-color: dodgerblue;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}
button:hover{
    background-color: rgb(5, 47, 90);
}
small{
    color: red;
}
li{
    font-size: larger;
    display:list-item;
    line-height: 4vh;
}