.container{
    border: 10px solid black;
    padding: 10px;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: x-small;
}

.flex-box{
    display:flex;
    border: 5px solid black;
    padding: 1vh;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
}
button{
    background-color: dodgerblue;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}
button:hover{
    background-color: rgb(5, 47, 90);
}
li{
    font-size: small;
    display:list-item;
    line-height: 4vh;
}
